@using MyMarket.DAL.ViewModels.Listings
@model DisplayListingViewModel

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category 1</a></li>
            <li class="breadcrumb-item"><a href="#">Category 2</a></li>
        </ol>
    </nav>
    @{
        int a = 5;
        string imagePath = Model.ImagePaths[0].Replace("\\", "/");
    }

    <div class="row">
        <div class="col-8">
            <img src="~/@imagePath" class="img-fluid" alt="Main picture" style="width: 751px; height: 515px; object-fit: cover;">
            <h2>@Model.Name</h2>
            <div>
                @Model.Address
            </div>
            <hr>
            <div class="row">
                @foreach(var option in Model.Options)
                {
                    @if(option.Value != null)
                    {
                        <div class="col-6">
                            <p>@option.PropertyName: @option.Value</p>
                        </div>   
                    }
                }
            </div>
            <hr>
            <p>@Model.Description</p>
        </div>

        <div class="col-4">
            <h2>Price: @Model.Price<span>$</span></h2>
            <p>Phone: @Model.Phone</p>
            <h3>User Information:</h3>
            <p>Email: <a href="mailto:@User.Identity.Name">@User.Identity.Name</a></p>
        </div>
    </div>